node_modules
.env

==Installed packages==

npm i init
npm i express 
npm i ejs
npm i mongoose 
npm i dotenv
npm i morgan
npm i bcrypt <-- pacakge to encrypt passwords
npm i express-session <-- installs session cookies
npm i connect-mongo <-- saves session in MongoDB