#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: ;
}

.light {
 background-color: #eff1f0;/*off white (light mode) background*/
 color: #232928; /* dark text for contrast */
 border-color: #dde2e1; /* slightly more toward neutral than bg color */
 font-family: 'Arial', sans-serif;/*To be adjusted*/
}

.light .contrast{
color: #5e6e6b; /*lighter text color for an area where we want to show contrast*/
}

.dark {
  background-color: #181b1b;/*dark mode background*/
  color: #d6dcdb; /* light text for contrast */
  border-color: #3b4543; /* slightly more towards neutral than bg color */
  font-family: 'Arial', sans-serif;/*To be adjusted*/
}

.dark .contrast{ 
  color: #9facaa; /*darker text color for contrast*/
}

.caution{ /*intended to draw attention and convey caution, something like a delete button*/
  background-color: #941111;
  color:#fbfbfb
}

.primary1{ /*our primary theme, can be used for the header, call to action labels/buttons such as upload content or create account/sign up*/
   background-color: #0c6656;
   color: #fbfbfb;
}

.primary2{ 
  background-color: #fbfbfb;
  color: #0c6656;
}


.secondary1{/*For tertiary actions, such as editing a post, or submitting feedback */
  background-color: #280c66;
  color: #fbfbfb;
}

.secondary2{/*background for these will be inherited could be inherited but a darkmode option makes 
  me think it's better to just set it to white.  Can change later.*/
  background-color: #fbfbfb;
  color: #280c66;
}
